fastapi
uvicorn
pydantic>=2.7.4
python-multipart
python-dotenv

# LangChain & LangGraph

langchain==0.3.27
langchain-anthropic==0.3.22
langchain-community==0.3.31
langchain-core==0.3.83
langchain-experimental==0.3.4
langchain-tavily==0.2.11
langchain-text-splitters==0.3.11
langgraph==0.6.11
langgraph-checkpoint==2.1.2
langgraph-prebuilt==0.6.5
langgraph-sdk==0.2.9

# RAG & ML
faiss-cpu==1.7.4
sentence-transformers==2.2.2
tiktoken==0.5.2
matplotlib==3.9.4
